@{
    ViewBag.Title = "Home Page";
}
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <div class="p-2 px-5 bg-light">
            @Session["Username"]
        </div>
    </div>
    <div class="p-2 bd-highlight">
        <div class="p-2">
            ผู้ใช้งาน:
        </div>
    </div>
</div>

<img class="mb-4" src="https://www.img.in.th/images/177cb2acf0792db1cb0e8aaf0933aa21.jpg" width="100%" />